body {
    background-color: rgb(238, 114, 114);
    margin: 200px;
    font-family: 'Open Sans', sans-serif;
}

h1 {
    text-align: center;
    color: rgb(144, 144, 144);
    font-size: 18px;
    padding: 10px;
    
}

#sign-in-box {
    background-color: rgb(244, 239, 239);
    margin: 0 auto;
    width: 500px;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 30px 50px 0px 50px;
}

input[type="username"] {
    border: solid rgb(216, 213, 213) .1em;
    padding: 18px 250px 18px 18px;
    margin: 10px;
}

input[type="password"] {
    border: solid rgb(216, 213, 213) .1em;
    padding: 18px 250px 18px 18px;
    margin: 10px;
}

::placeholder {
    color: rgb(175, 173, 173);
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
}

#button {
    display: flex;
    background-color: rgb(110, 224, 211);
    color: white;
    margin: 20px;
    padding: 12px 40px;
    border: hidden;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
}

#bottom-box {
    padding-right: 66%;
    padding-bottom: 10%;
    color: rgb(175, 173, 173);
    font-size: 13px;
}

input[type="checkbox"] {
    width: 17px;
    height: 17px;
}